.page.theme_dark {
  --main-color: #FF0070;
  --title-color: #DB00FF;
  --title-shadow-color: #FF0070;
  --subheading-fill-color: #FF0070;
  --subheading-text-color: #000028;
  --paragraph-link-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  --button-hover-color: #FF91C1;
  --background-color: #000028;
  background-image: url(../images/cover-image-dark.png);  
} 

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);  
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #FF0070;
    --title-color: #DB00FF;
    --title-shadow-color: #FF0070;
    --subheading-fill-color: #FF0070;
    --subheading-text-color: #000028;
    --paragraph-link-color: #F1B2CE;
    --link-shadow-color: #FF0070;
    --button-hover-color: #FF91C1;
    --background-color: #000028;     
  }
  .page.theme_auto {
    background-image: url(../images/cover-image-dark.png);
  } 
}