.page.theme_dark {
  --main-background-color: #000028;
  --main-title-color: #DB00FF;  
  --main-font-color: #F1B2CE;
  --main-text-color: #000028;
  --accent-color: #FF0070; 
  --decoration-color: #FF0070; 
} 

@media (prefers-color-scheme: dark) {
  :root {
  --main-background-color: #000028;
  --main-title-color: #DB00FF;  
  --main-font-color: #F1B2CE;
  --main-text-color: #000028;
  --accent-color: #FF0070;
  --decoration-color: #FF0070;      
  }
  .header {
    background-image: url(../images/cover-image-dark.png);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;     
  }
  .header__decoration {
    color: var(--decoration-color);
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 18px;
    display: flex; 
    align-items: center; 
    margin-right: 3px;
  }
}