.page.theme_light {
  --main-color: #353430;
  --title-color: #FFC2E6;
  --title-shadow-color: #FF0070;
  --subheading-fill-color: #FF8DCB;
  --subheading-text-color: #353430;
  --paragraph-link-color: #353430;
  --link-shadow-color: #FF8DCB;
  --button-hover-color: #ADA4A6;
  --background-color: #FFF1F7; 
  background-image: url(../images/cover-image-light.png);
}  

@media (prefers-color-scheme: light) {
  :root {
  --main-color: #353430;
  --title-color: #FFC2E6;
  --title-shadow-color: #FF0070;
  --subheading-fill-color: #FF8DCB;
  --subheading-text-color: #353430;
  --paragraph-link-color: #353430;
  --link-shadow-color: #FF8DCB;
  --button-hover-color: #ADA4A6;
  --background-color: #FFF1F7;        
  }
  .page.theme_auto {
    background-image: url(../images/cover-image-light.png);
  }
  .theme_auto .header__decoration {
    display: none;
  }
} 