.page {
  background-color: var(--background-color);
  background-position: top;
  /* Пока для высоты оставить 100vh, посмотреть какие могут быть проблемы */
  background-size: auto 100vh; 
  background-repeat: no-repeat;  
  background-attachment: fixed;  
}

.header {
  /* TODO По макету посмотреть высоту и привязать к высоте экрана */
  min-height: 668px; 
  margin-top: var(--page-margin);
  margin-right: var(--page-margin);
}

.decorated_zone {
  position: relative;
}

header.decorated_zone::before {
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  position: absolute;
  top: 0;
  right: 0;
}

.decorated_zone::after {
  display: flex;
  content: '';
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color); 
  margin-left: var(--page-margin); 
  margin-bottom: var(--decor-margin);   
}

.header__grid-container {  
  margin-left: var(--page-margin); 
  display: grid;
  position: relative;
}

.header__decoration-container { 
  display: flex;
  justify-content: flex-end;  
  align-items: flex-start;  
  margin-bottom: var(--h-decor-menu);
}

.theme_light .header__decoration-container {
  margin-bottom: calc(var(--h-decor-menu) + 25px);
}

.header__decoration {
  color: var(--main-color);
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  display: flex; 
  align-items: center;
  aria-hidden: true;      
}

.theme_light .header__decoration {  
  display: none;  
}

.header__decoration::after {
  display: flex;
  justify-content: center;
  align-self: center;
  content: '●';
  font-size: 18px;
  text-shadow: 
  0px 0px 5px var(--main-color),
  0px 0px 5px var(--main-color),
  0px 0px 5px var(--main-color),
  0px 0px 5px var(--main-color);
  width: 25px;
  height: 25px; 
  margin-left: 4px; 
}

.header__theme-menu { 
  display: flex;
  justify-content: flex-end;
  margin-bottom: var(--h-menu-title);   
}

.header__theme-menu-list {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 11px;
}

.header__theme-menu-item {
  height: 1.56em;
  display: flex;
} 

.header__theme-menu-button {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-size: 18px;
  font-family: 'IBM Plex Mono', sans-serif;
  text-transform: lowercase;
  border: none;  
  background: none;
  padding-bottom: 4px;
}

.page.theme_dark .header__theme-menu-button_active,
.page.theme_light .header__theme-menu-button_active,
.page.theme_auto .header__theme-menu-button_active {
  border: 1px solid var(--main-color);
  pointer-events: none; 
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 0px;
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__title {  
  margin-bottom: var(--h-title-block);
  margin-left: var(--h-title-margin);
}

.header__title-text {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);  
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: bold;
  line-height: 6rem;
  text-shadow: 5px 5px var(--title-shadow-color);
}

.header__intro { 
  margin-bottom: var(--h-block-decor);
  margin-left: var(--page-margin);
  line-height: 1.465em;
  display: flex;
  justify-content: flex-end;
}

.header__intro-text {  
  width: 355px;
  color: var(--subheading-text-color);
  font-size: 18px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: bold;
  background-color: var(--subheading-fill-color);
}

.main__content {  
  margin-left: var(--page-margin);
  margin-right: var(--page-margin);
  margin-top: var(--m-header-main);
}

.main__heading {
  color: var(--main-color);
  font-size: 18px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: bold;
}

.section:nth-child(1) .main__heading {
  padding-right: var(--heading-padding);  
}

.main__subheading {
  color: var(--subheading-text-color);
  background-color: var(--subheading-fill-color);
  font-size: 18px;
  font-family: 'IBM Plex Mono', sans-serif;
  margin-top: var(--m-above-heading);
}

.main__subheading-accent {
  font-weight: bold;
}

.main__article {
  color: var(--paragraph-link-color);
  font-size: 18px;
  font-family: 'IBM Plex Mono', sans-serif;
  line-height: var(--article-line-height);  
  margin-top: var(--m-above-text);
  padding-right: 1px;
}

.main__text-link {
  text-shadow: 1px 1px var(--link-shadow-color);
}

.main__text-link:hover {
  border-bottom: 1px solid currentColor;
  cursor: pointer;
}

.main__text-link:focus {
  outline: 1px solid currentColor;
}

.section {
  margin-bottom: var(--m-below-section);
}

.main__image {
  width: 100%;
  margin-top: var(--m-pictures-gap);
  object-fit: contain;
}

.footer {
  margin-top: var(--f-main-footer);
  margin-bottom: var(--page-margin);
  height: 668px;
  margin-left: var(--page-margin);
  margin-right: var(--page-margin);
  display: flex;
  flex-wrap: wrap; 
  align-content: space-between;
  padding-top: var(--decor-margin);
  padding-bottom: var(--decor-margin); 
}

footer.decorated_zone::before {
  content: '';
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color); 
  float: right;
  margin-left: auto; 
  margin-top: 0;
}

footer.decorated_zone::after {
  margin: 0; 
}

.footer__title {
  width: 100%;  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__title-text {
  color: var(--title-color);
  font-size: 116px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: bold;
  line-height: 6rem;
  text-shadow: 2.5px 2.5px var(--title-shadow-color); 
  align-self: center; 
}

@media (375px < width < 768px) {
  .header {
    min-height: 668px;
  }
  .header__title-text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  :root {    
    /* Отступы в header */
    --h-decor-menu: calc(27.23vw - 62.1px);
    --h-menu-title: calc(26.97vw - 33px);
    --h-title-block: calc(26.97vw - 43px);
    --h-block-decor: calc(26.97vw - 69px);
    --h-title-margin: calc(-1.02vw + 9.1px);
    /* Отступы в main */
    --m-header-main: calc(3.56vw + 16.64px);
    --m-above-heading: 20px;
    --m-above-text: calc(-0.95vw + 17.33px);
    --m-below-section: calc(7.38vw + 22.33px);
    --m-pictures-gap: calc(3.18vw + -5.43px);
    /* Отступы в footer */
    --f-main-footer: calc(12.72vw + -16.71px);
    /* Прочие отступы */
    --decor-margin: calc(2.54vw - 0.54px);
    --page-margin: calc(2.54vw - 0.54px);
    --heading-padding: calc(2.80vw + -0.50px);
    --article-line-height: 1.449rem;   
  } 
  .header__intro-text {
    width: calc(2.29vw + 346.4px);
  }
}

@media (768px <= width < 1024px) {
  .header, .footer {
    min-height: calc(-186.72vw + 2458px); 
  }
  :root {    
    /* Отступы в header */
    --h-decor-menu: calc(-57.42vw + 588px);
    --h-menu-title: calc(-68.36vw + 700px);
    --h-title-block: calc(-12.85vw + 262.1px);
    --h-block-decor: calc(-19.92vw + 292px);
    --h-title-margin: calc(-0.49vw + 5.066px);
    /* Отступы в main */
    --m-header-main: 40px;
    --m-above-heading: 20px;
    --m-above-text: 10px;
    --m-below-section: calc(3.13vw + 56px);
    --m-pictures-gap: 19px;
    /* Отступы в footer */
    --f-main-footer: 81px;
    /* Прочие отступы */
    --decor-margin: 19px;
    --page-margin: 19px;
    --heading-padding: calc(2.80vw + -0.50px);       
    --article-line-height: 1.465rem; 
  }    
  .header__title-text, .footer__title-text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);  
  }
  .header__intro-text {
    width: calc(49.61vw - 17px);;
  }  
  .section:nth-child(1) {
    display: grid;
    grid-template-columns: 1.095fr 2fr;
  }
  .section:nth-child(1) .main__heading {
    grid-row: 1/3;
    grid-column: 1/2;    
  }
  .section:nth-child(1) .main__heading + div .main__subheading {
    margin-top: 0;
  }  
  .section:nth-child(2) .main__heading {
    padding-right: 500px;
  }
  .section:nth-child(3) {    
    display: grid;
    grid-template-columns: 1fr 1.83fr;
  }
  .section:nth-child(3) .main__subheading:nth-child(1) {
    margin-top: 0px;
  }
  .main__pictures-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: calc(25.78vw - 4px) calc(32.42vw - 18px) calc(42.58vw - 9px); 
    gap: var(--m-pictures-gap);    
  } 
  .main__image-container {
    height: 100%;
  }
  .main__image {
    /* margin-bottom: 0px; */
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .image_1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .image_2 {
    grid-row: 1/3;
    grid-column: 3/4;
  }
  .image_3 {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .image_4 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .image_5 {
    grid-row: 3/4;
    grid-column: 2/4;
  }  
} 

@media (1024px <= width) {
  .header, .footer {
    min-height: 768px;
  }
  :root {    
    /* Отступы в header */
    --h-decor-menu: 0;
    --h-menu-title: 0;
    --h-title-block: 130.5px;
    --h-block-decor: 88px;
    --h-title-margin: 0;
    /* Отступы в main */
    --m-header-main: 39px; 
    --m-above-heading: 20px;
    --m-above-text: 10px;
    --m-below-section: 88px;
    --m-pictures-gap: 19px;
    /* Отступы в footer */
    --f-main-footer: 81px;
    /* Прочие отступы */
    --decor-margin: 19px;
    --page-margin: 19px;    
  }
  .header__title {
    margin-top: 290px;
  }
  .header__title-text, .footer__title-text {
    font-size: 9.8125rem;  
  }
  .header__intro-text {
    width: 491px;
  }
  .header__grid-container {
    grid-template-columns: 1fr min-content;    
  }  
  .header__decoration-container {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .header__theme-menu {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: flex-start;
    padding-left: calc(0.5*(100vw - 25vw - 19*2px));    
  }
  .header__theme-menu-list {
    flex-direction: row;
    width: 25vw;
    display: flex;
    justify-content: space-evenly;
  }  
  .main__article {
    padding-right: 0;
  }
  .section:nth-child(1) {
    display: grid;
    grid-template-columns: 1.04fr 2fr;
  }
  .section:nth-child(1) .main__heading {
    grid-row: 1/3;
    grid-column: 1/2;    
  }
  .section:nth-child(1) .main__heading + div .main__subheading {
    margin-top: 0;
  } 
  .section:nth-child(2) {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 19px;
  }
  .section:nth-child(2) .main__heading {
    padding-right: 650px;
    grid-row: 1/2;
    grid-column: 1/4;  
  }
  .section:nth-child(3) {    
    display: grid;
    grid-template-columns: 1fr 1.93fr;
  }
  .section:nth-child(3) .main__subheading:nth-child(1) {
    margin-top: 0px;
  }
  .main__pictures-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: calc(25.78vw - 4px) calc(32.42vw - 18px) calc(42.58vw - 9px);  
    gap: var(--m-pictures-gap);    
  } 
  .main__image-container {
    height: 100%;
  }
  .main__image {
    /* margin-bottom: 0px; */
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .image_1 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .image_2 {
    grid-row: 1/3;
    grid-column: 3/4;
  }
  .image_3 {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .image_4 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .image_5 {
    grid-row: 3/4;
    grid-column: 2/4;
  } 
} 
 