:root {
  --main-color: #FF0070;
  --title-color: #DB00FF;
  --title-shadow-color: #FF0070;
  --subheading-fill-color: #FF0070;
  --subheading-text-color: #000028;
  --paragraph-link-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  --button-hover-color: #FF91C1;
  --background-color: #000028;
  /* Отступы в main */
  --main-header-main: 38.5px;
  --main-above-heading: 20px;
  --main-above-text: 13.75px;
  --main-below-section: 50px;
  --main-pictures-gap: 6.5px;
  /* Отступы в footer */
  --footer-main-footer: 30px;
  /* Прочие отступы и размеры */
  --decor-margin: 9px;
  --page-margin: 9px; 
  --header-title-left-margin: 9px;
  --heading-padding: 10px;   
  --article-line-height: 1.449rem;
} 